mstdam.duckdns.org {
	encode gzip

	# sqlite_web
	handle /browse* {
		reverse_proxy 127.0.0.1:8081
	}

	# any CGI requests from multi_sql.html
	handle /cgi-bin/* {
		reverse_proxy 127.0.0.1:8082
	}

	# /manage → show /var/www/html/multi_sql.html
	handle /manage {
		root * /var/www/html
		file_server
		try_files /multi_sql.html
	}

	# Default: serve /var/www/html static files
	handle {
		root * /var/www/html
		file_server browse
	}

	log {
		output file /var/log/caddy/mstdam_access.log
		level INFO
	}
}
