[Unit]
Description=sqlite_web service
After=network.target

[Service]
User=root
WorkingDirectory=/db
ExecStart=/usr/local/bin/sqlite_web /db/sample.sqlite3 --host 127.0.0.1 --port 81 --url-prefix /browse
Restart=on-failure

[Install]
WantedBy=multi-user.target
