[Unit]
Description=Caddy web server
After=network.target

[Service]
User=caddy
Group=caddy
ExecStart=/usr/bin/caddy run --environ --config /etc/caddy/Caddyfile
ExecReload=/usr/bin/caddy reload --config /etc/caddy/Caddyfile --force
Restart=on-failure
LimitNOFILE=1048576

# Optional log files (if you want dedicated files)
StandardOutput=append:/var/log/caddy/caddy.log
StandardError=append:/var/log/caddy/caddy.err


[Install]
WantedBy=multi-user.target


