[Unit]
Description=Python CGI HTTP server
After=network.target

[Service]
User=root
WorkingDirectory=/db
ExecStart=/usr/bin/python3 -m http.server 82 --bind 127.0.0.1 --cgi
Restart=on-failure

[Install]
WantedBy=multi-user.target
